.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-lightBlack);
}

.homeContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: var(--color-darkGreen); */
}

.homeTopPart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}

.homeTopText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left:20px ;
    width: 40%;
    height: 70vh;
    gap: 20px;
}

.homeTitle{
    text-align: left;
    font-size: 90px;
}

.homeSmallText{
    text-align: left;
    max-width: 100%;
    font-size: 18px;
    word-wrap: break-word;
}

.homeTopImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70vh;
}

.homeTopImage > img{
    width: 80%;
}

.callToActionContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh;
    /* background-color: red; */
}

.callToAction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 20%;
    height: 30vh;
    border-radius: 20px;
}

.callToAction:nth-child(even) {
    background-color: var(--color-beige);
    color: var(--color-lightBlack);
}

.callToAction:nth-child(odd) {
    background-color: var(--color-orange);
}
